/* General Styles */

body {
  font-family: Arial;
  background: #242424;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;

}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

header a {
  color: hotpink;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

h1 {
  margin: 20px 0;
}


#searchInput {
  padding: 8px 12px;
}

#addToFave {
  background-color: black;
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
} 

#addToFave:hover {
  background-color: rgb(44, 44, 44);
}

.movie {
  padding: 10px;
  cursor: pointer;
  text-align: center; 
  max-width: 300px;
}

.movie img {
  max-width: 280px;
  max-height: 400px;
  min-height: 400px;
}

.movie img:hover {
  opacity: 70%;
}

.fav {
  margin: 20px;
}


.title, p {
  color: white;
  font-size: 16px;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.empty {
  color: #ccc;
  font-style: italic;
  margin-top: 20px;
}


a {
  color: hotpink;
  text-decoration: none;
}
